body{
    margin:0;
    background:white;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
}

.game-container{
    width:25vw;
    min-width:380px;
    max-width:420px;
    height:92vh;

    background:#555;

    border-radius:25px;

    padding:16px;

    box-sizing:border-box;

    display:flex;
    flex-direction:column;

    justify-content:space-between;

    box-shadow:0 0 30px rgba(0,0,0,0.3);

    overflow:hidden;
}

/* =========================
   GRAPH AREA
========================= */

.graph-area{

    position:relative;

    width:100%;

    height:65%;

    flex-shrink:0;

    border-radius:18px;

    overflow:hidden;

    isolation:isolate;

    z-index:1;

    background:
        radial-gradient(
            circle at top left,
            rgba(0,255,120,0.06),
            transparent 35%
        ),

        linear-gradient(
            135deg,
            #050505,
            #101010,
            #060606
        );
}

/* =========================
   MOVING GRID
========================= */

.graph-area::before{

    position: relative;
    overflow: hidden;

    content:"";

    position:absolute;

    width:200%;
    height:200%;

    top:-50%;
    left:-50%;

    background:
        repeating-linear-gradient(
            90deg,
            rgba(255,255,255,0.02) 0px,
            rgba(255,255,255,0.02) 1px,
            transparent 1px,
            transparent 80px
        ),

        repeating-linear-gradient(
            0deg,
            rgba(255,255,255,0.02) 0px,
            rgba(255,255,255,0.02) 1px,
            transparent 1px,
            transparent 80px
        );


    animation:
        moveGrid 18s linear infinite;

    z-index:0;

    background-image: url("bg.png");
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
}

@keyframes moveGrid{

    from{
        transform:translate(0,0);
    }

    to{
        transform:translate(80px,80px);
    }
}

/* =========================
   MULTIPLIER
========================= */

.multiplier{

    position:absolute;

    top:150px;

    left:50%;

    transform:translateX(-50%);

    color: red;

    font-size:34px;

    font-weight:bold;


    z-index:20;
}

/* =========================
   SVG
========================= */

.curve-svg{

    position:absolute;

    width:100%;
    height:100%;

    max-height:100%;

    left:0;
    top:0;

    z-index:2;

    pointer-events:none;

    overflow:hidden;
}

/* FILLED GRAPH */

#fillArea{

    fill: rgba(255, 120, 120, 0.12);
}

/* GRAPH LINE */

#flightPath{

    fill:none;

    stroke: red;

    stroke-width:4;

}

/* =========================
   AXES
========================= */

.y-axis{

    position:absolute;

    left:0;
    top:0;

    width:8px;

    height:100%;

    background:white;

    border-radius:20px;

    z-index:3;
}

.x-axis{

    position:absolute;

    bottom:0;
    left:0;

    width:100%;

    height:8px;

    background:white;

    border-radius:20px;

    z-index:3;
}

/* =========================
   DOTS
========================= */

.dot{

    position:absolute;

    width:10px;
    height:10px;

    background:white;

    border-radius:50%;

    z-index:3;
}

.origin{
    left:0;
    bottom:0;
}

.y1{
    left:0;
    top:18%;
}

.y2{
    left:0;
    top:33%;
}

.y3{
    left:0;
    top:48%;
}

.y4{
    left:0;
    top:63%;
}

.y5{
    left:0;
    top:78%;
}

.x1{
    left:20%;
    bottom:0;
}

.x2{
    left:35%;
    bottom:0;
}

.x3{
    left:50%;
    bottom:0;
}

.x4{
    left:65%;
    bottom:0;
}

.x5{
    left:80%;
    bottom:0;
}

/* =========================
   HELICOPTER
========================= */

.helicopter{

    position:absolute;

    width:70px;

    left:0px;
    bottom:0px;

    z-index:10;

    pointer-events:none;

    filter:
        drop-shadow(
            0 0 10px rgba(255,255,255,0.3)
        );
}

/* =========================
   CONTROLS
========================= */

.controls{

    display:flex;

    flex-direction:column;

    gap:14px;

    width:100%;

    position:relative;

    z-index:999;

    margin-top:12px;
}

.invest-row{

    display:flex;

    gap:8px;

    width:100%;

    align-items:flex-start;
}

.left-side{

    flex:1;

    display:flex;

    flex-direction:column;

    gap:6px;
}

.amount-input{

    width:100%;

    height:45px;

    background:#1a1a1a;

    border:none;

    border-radius:10px;

    color:white;

    font-size:16px;

    padding-left:10px;

    box-sizing:border-box;
}

.price-grid{

    display:grid;

    grid-template-columns:
        repeat(5, 1fr);

    gap:4px;
}

.price-btn{

    background:#333;

    color:white;

    border:none;

    border-radius:6px;

    font-size:11px;

    padding:4px 0;

    cursor:pointer;
}

.price-btn:hover{

    background:#444;
}

.invest-btn{

    width:110px;

    height:95px;

    border:none;

    border-radius:12px;

    background:#00aa44;

    white-space: nowrap;

    font-size: 14px;

    padding: 0 12px;

    display: flex;
    
    flex-direction: column;

    align-items: center;

    justify-content: center;

    gap: 4px;

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    position:relative;

    z-index:1000;

    flex-shrink:0;

    box-shadow:
        0 0 12px rgba(0,255,120,0.2);
}

.invest-btn small{
    font-size: 11px;

    font-weight: 500;

    opacity: 0.9;
}